
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root
{
    --primary-color: rgb(81, 147, 126);
    --white-color:#fff;
    --gray-color:#6f6f6f;
}
.logosheader
{
    display: none;
    
}
.logosheader img
{
    width: 150px;
    height: 35px;
}


/* Sub Header */
.sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin-bottom: 30px;
}

.sub_header .sub_box {
    border: solid 1px rgb(225, 224, 224);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0px 0px 7px 7px;
}

.sub_header .sub_box a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.sub_header .sub_box .active {
    color: rgb(20, 143, 143);
}



.btns
{
    width: 150px;
    height: 45px;
    background: rgb(41, 39, 39);
    color: var(--white-color);
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btns:hover
{
    background: var(--primary-color);
}

.smallbtns
{
    width: 120px;
    height: 35px;
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.smallbtns:hover
{
    background: rgb(41, 39, 39);
}

/* Top Header */
.topheader {
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    font-family: Arial, sans-serif;
}

.topheader i {
    color: var(--gray-color);
    padding: 0 10px;
}

.topheader span {
    color: var(--gray-color);
    font-size: 14px;
}

.topheader ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.topheader ul li {
    display: inline-block;
    padding: 0 15px;
}

.topheader ul li a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: 14px;
    transition: color 0.3s ease;
}

.topheader ul li a:hover {
    color: var(--primary-color); 
}

/* Top Banner */
.topbanner {
    padding: 15px 20px; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
    padding: 0px 100px;
}

.topbanner .logo img {
    width: 200px;
    height: auto; 
    padding-bottom: 15px;
}

/* Search Box */
.search_box {
    border: 2px solid rgb(239, 239, 239);
    width: 550px;
    max-width: 100%; 
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.search_box input {
    flex: 1; 
    height: 100%;
    border: none;
    padding: 0 20px;
    background: none;
    font-size: 15px;
}

.search_box input:focus {
    outline: none;
}

.search_box i {
    color: var(--gray-color);
    padding: 0 10px;
}

/* Login Box */
.login_box a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--gray-color);
    font-size: 14px;
    display: inline-block;
    transition: color 0.3s ease;
}

.login_box a:hover {
    color: var(--primary-color); 
}

.login_box a i {
    padding: 0 5px;
    color: var(--gray-color);
}


/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(20, 124, 91);
    color: #fff;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 100px;
}
#check
{
    display: none;
}
/* Hamburger Menu */
.checkbtn {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

/* Categories Section */
.catagoreys, .locations {
    display: flex;
    align-items: center;
}

.catagoreys_box, .locations_box {
    display: flex;
    align-items: center;
    color: #333;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    background-color: #f1f5f8;

}

.catagoreys_box span, .locations_box span {
    margin: 0 5px;
}

.catagoreys_box:hover, .locations_box:hover {
    background-color: #d8f28a;
}

/* Menu List */
.menu_list ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu_list ul li {
    display: inline-block;
}

.menu_list ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.menu_list ul li a:hover {
    color:black;
}


/* Banner Sections */

.banner_section
{
    /* width: 100%; */
    background-image: url('./images/b3.jpg');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 100px;
    border-radius:10px ;
}
.banner_section .banner_content
{
   padding: 190px 100px;
}
.banner_section .banner_content p
{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}
.banner_section .banner_content h1
{
    font-size:50px ;
    margin: 10px 0px;
}

/* end */


/* box catgoryes */

.box_catagoreys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 90px;
}

.box_catagoreys .cat_box {
    border: solid 10px rgb(200, 203, 203);
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 5px;
    flex: 1 1 200px; 
    margin: 10px; 
    box-sizing: border-box;
}

.box_catagoreys .cat_box:hover {
    border: solid 10px rgb(62, 196, 171);
}

.box_catagoreys .cat_box .box_content {
    border-radius: 5px;
    padding: 30px 45px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.box_catagoreys .cat_box .box_content i {
    font-size: 40px;
    color: var(--primary-color);
    padding: 5px 5px;
}

.box_catagoreys .cat_box .box_content h4 {
    color: var(--gray-color);
    padding: 5px 5px;
    margin-top: 10px;
}

.box_catagoreys .cat_box .box_content span {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--primary-color);
    padding: 6px 17px;
    color: var(--white-color);
    border-radius: 0px 5px 0px 20px;
}
/* end */


/* Heading Content */
.heading_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.header_ullist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header_ullist ul li {
    padding: 0 8px;
    display: inline-block;
    font-weight: bold;
}

.header_ullist ul li a {
    text-decoration: none;
    color: var(--gray-color);
}

.heading_content {
    padding: 25px 100px;
    font-weight: bold;
}

.heading_content span {
    color: var(--primary-color);
}

.heading_content p {
    color: var(--gray-color);
    margin: 10px 0;
}

.header_times {
    background-color: rgb(240, 240, 240);
    color: rgb(100, 99, 99);
    padding: 10px 10px;
}


/* product_sections */

/* Products Sections */
.products_sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
}

.product_box {
    width: 320px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    border-radius: 5px;
    padding: 0px 10px;
    padding-bottom: 20px;
    margin: 10px 0px;
    transition: transform 0.3s ease-in-out;
}

.product_box:hover {
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: scale(1.01); 
}

.product_box img {
    width: 100%; 
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(240, 240, 240);
    margin: 10px 0px;
    object-fit: cover; 
}

.product_box .icons {
    padding: 8px 17px;
    display: none;
    position: absolute;
    top: 180px;
    left: 50px;
}

.product_box .icons i {
    border: solid 1px rgb(195, 194, 194);
    padding: 10px;
    border-radius: 10px;
    color: var(--gray-color);
    font-weight: bold;
    background-color: #f6f5f2;
}

.product_box .icons i:hover {
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.product_box:hover .icons {
    display: block;
}

.product_box .product_content {
    padding: 8px 17px;
}

.product_box .news {
    position: absolute;
    top: 11px;
    right: 11px;
    background: var(--primary-color);
    padding: 4px 10px;
    color: #fff;
    border-radius: 2px;
}

.product_box .sales {
    position: absolute;
    top: 11px;
    right: 11px;
    background: rgb(241, 41, 41);
    padding: 4px 10px;
    color: #fff;
    border-radius: 2px;
}

.product_box .product_content p {
    padding: 10px 0px;
    color: var(--gray-color);
}

.product_box .product_content h3 i {
    padding: 0px 0px;
    color: orange;
}

.product_box .product_content h3 span {
    float: right;
    font-size: 15px;
    color: var(--gray-color);
}

.product_box .product_content h4 {
    font-weight: bold;
}

.product_box .product_content h4 span {
    float: right;
    color: var(--gray-color);
}


/* Pro_banner_sections */
.pro_bot_banner_section {
    background-image: url('./images/right.jpg');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 100px;
    border-radius: 10px;
    position: relative;
}

.pro_bot_banner_section .banner_content_right {
    padding: 70px 100px;
    float: right;
    text-align: right; 
    max-width: 50%; 
    color: #060606;
}

.pro_bot_banner_section .banner_content_right p {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

.pro_bot_banner_section .banner_content_right h1 {
    font-size: 50px;
    margin: 10px 0px;
}



/* bottom_tow_sections */
.bottom_tow_sections
{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px 100px;
    justify-content: space-between;
}
.backimg_left
{
    background-image: url('images/boo1.jpg');
    height:45vh ;
    width: 49%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.backimg_right
{
    background-image: url('images/bott.jpg');
    height:45vh ;
    width: 49%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.bottom_content
{
    float: right;
    padding: 90px 50px;
    position: relative;
}
.bottom_content h1
{
    font-size: 35px;
    padding: 3px 0px;
    color: #4b4b4b;
}
.bottom_content p
{
    padding: 3px 0px;
    color: var(--gray-color);
}
.bottom_content span
{
    position: absolute;
    top: 8px;
    right: 10px;
    background: rgb(71, 70, 70);
    color: var(--white-color);
    padding:3px 10px  ;
    border-radius: 8px;
    font-weight: bold;
}

/* end */


/* service_box_sections */
.service_box_sections {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    flex-wrap: wrap; 
}


.service_box_sections .ser_box {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    text-align: center;
    padding: 25px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    width: 20%; 
}

.service_box_sections .ser_box i {
    color: var(--primary-color);
    font-size: 50px;
    padding: 10px 10px;
    border: solid 1px rgb(222, 221, 221);
    border-radius: 50%;
}


.service_box_sections .ser_box h2 {
    padding: 10px 0px;
    color: #2d2c2c;
}



/* About Sections */
.about_sections {
    display: flex;
    padding: 20px 100px;
    flex-wrap: wrap; 
}

/* About Image Sections */
.about_img_sections {
    display: flex;
    margin: 10px 0px;
    text-align: center;
    flex-wrap: wrap; 
    justify-content: center; 
}

.about_img_sections .about_img img {
    width: 300px;
    margin: 0px 15px;
    border-radius: 5px;
}
.about_img_sections .about_imgs
{
    display: flex;
    flex-direction: column;
}
.about_img_sections .about_imgs img {
    width: 250px;
    height: 237px;
    margin: 5px 0px;
    border-radius: 5px;
}

/* About Content */
.about_content {
    margin: 20px 10px;
    flex: 1; 
}

.about_content h1 {
    margin: 15px 0px;
    font-weight: bold;
}

.about_content h1 span {
    color: var(--primary-color);
    padding: 0px 10px;
}

.about_content p {
    padding: 8px 0px;
    line-height: 25px;
    color: var(--gray-color);
    font-weight: bold;
}




.our_service_sections
{
    text-align: center;
    margin: 50px 10px;
    
}
.our_service_sections h1
{
    margin-bottom:10px;
}
.our_service_sections h1 span
{
    color: var(--primary-color);
}
.our_service_sections p
{
    color: var(--gray-color);
}

/* end */
.about_scrolle_sections
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 224, 224);
    margin: 20px 100px;
    border-radius: 5px;
    margin-top: 40px;
}
.services_content
{
    width: 530px;
    text-align: center;
    padding: 70px 0px;
}
.services_content p
{
    color: #6f6f6f;
    margin-top: 10px;
}
.services_content h1
{
    color: var(--primary-color);
    margin-top:20px ;
}
.services_content img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
.services_content h3 i
{
    color: orange;
}

/* end */

/* team_sections */
.team_sections
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    margin-bottom: 35px;
}
.team_image
{
    text-align: center;
    position: relative;
}
.team_image img
{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}
.team_icons 
{
    position: absolute;
    top: 190px;
    left: 50px;
}
.team_icons  i
{
    border: solid 1px gray;
    padding: 10px 10px;
    background: rgb(52, 51, 51);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.team_icons  i:hover
{
    background: var(--primary-color);
}
.team_icons
{
    display: none;
}
.team_image:hover .team_icons
{
    display: block;
}

/* end */


/* products_sectons_shop */
.products_sectons_shop
{
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 100px;
    /* align-items: center; */
    
}
.borders
{
    border: solid 1px rgb(184, 184, 184);
    margin: 10px 0px;
}
.products_sectons_shop .shorting_pro
{
    background-color: rgb(233, 233, 233);
    padding:10px 20px ;
    min-width: 330px;
    height: 600px;
    border-radius: 5px;
}
.products_sectons_shop .shorting_pro h3
{
    padding: 0px 0px;
    color: rgb(95, 95, 95);
    
}
.products_sectons_shop .shorting_pro h3 span
{
    float: right;
}
.shop_content div
{
    margin: 17px 0px;
}
.shop_content input
{
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px 15px;
    margin-left: 0px;
    color: rgb(24, 229, 147);
}
.shop_content i
{
    margin: 0px 15px;
    margin-left: 0px;
    color: rgb(80, 80, 80);
}

/*  */

.products_box .short_products
{
    width: 980px;
    height:35px;
    border: solid 1px rgb(208, 207, 207);
    margin: 0px 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.short_products .back_bord
{
    background-color:rgb(0, 123, 119);
    color: white;
}



/* end */

/* products_sections */
.shop_products_sections
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 5px;
    margin: 10px 0px;
}
.shop_product_box
{
    width: 310px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    border-radius: 5px;
    padding: 0px 10px;
    padding-bottom: 20px;
    margin: 10px 10px;
}
.shop_product_box:hover
{
    width: 310px;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shop_product_box img
{
    width:290px ;
    height: 250px;
    padding: 10px ;
    border-radius: 5px;
    border: solid 1px rgb(240, 239, 239);
    margin: 10px 0px;
}

.shop_product_box .icons 
{
    padding: 8px 17px;
    display: none;
    position: absolute;
    top: 180px;
    left: 50px;
}
.shop_product_box .icons i{
    border: solid 1px rgb(195, 194, 194);
    padding: 10px;
    border-radius: 10px;
    color: var(--gray-color);
    font-weight: bold;
    background-color: #f6f5f2;
}
.shop_product_box .icons i:hover
{
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}
.shop_product_box:hover .icons
{
    display: block;
}
/* .shop_product_box .shop_product_contents
{
    padding:0px 17px ;
} */
.shop_product_box .news 
{
    position: absolute;
    top: 13px;
    right: 13px;
    background: var(--primary-color);
    padding: 4px 10px;
    color: #fff;
    border-radius:2px ;
}
.shop_product_box .sales
{
    position: absolute;
    top: 13px;
    right: 13px;
    background: rgb(241, 41, 41);
    padding: 4px 10px;
    color: #fff;
    border-radius:2px ;
}

.shop_product_box .shop_product_contents p
{
    padding: 10px 0px;
    color: var(--gray-color);
}
.shop_product_box .shop_product_contents h3 i
{
    padding: 0px 0px;
    color: orange;
}
.shop_product_box .shop_product_contents h3 span
{
    float: right;
    font-size: 15px;
    color: var(--gray-color);
}
.shop_product_box .shop_product_contents h4
{
    font-weight: bold;
   
}
.shop_product_box .shop_product_contents h4 span
{
    float: right;
    color: var(--gray-color);
}


/* end */

/* pagenations */
.pagenations
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagenations .show_items
{
    color: rgb(124, 123, 123);
}

/*  */
.pagenations .page_numbers ul
{
    display: flex;
    list-style-type: none;
}
.pagenations .page_numbers ul li
{
    padding: 10px 20px;
    background: rgb(220, 235, 229);
    margin: 0px 10px;
    border-radius: 5px;
}
.pagenations .page_numbers ul li a
{
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.pagenations .page_numbers ul .active 
{
    background: rgb(12, 123, 84);
    margin: 0px 10px;
    color: #fff !important;
}
.pagenations .page_numbers button
{
    background:rgb(12, 123, 84) ;
    width: 60px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

/* end */



/* Contact Section */
.contact_section {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 100px;
    align-items: center;
    flex-wrap: wrap;
}

.contact_section .contact_box {
    background-color: rgb(241, 239, 239);
    text-align: center;
    width: 430px;
    height: auto;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px 0px;
}

.contact_section .contact_box .icons_cont {
    background: rgb(65, 64, 64);
    color: #fff;
    width: 80px;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgb(65, 64, 64);
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_section .contact_box .icons_cont i {
    font-size: 30px;
}

.contact_section .contact_box h1 {
    color: rgb(93, 92, 92);
}

.contact_section .contact_box p i {
    margin: 0px 15px;
}

.contact_section .contact_box p {
    color: gray;
    padding: 7px 0px;
}

/* Map Box and Contact Form */
.map_box_contact_form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    margin: 20px 0px;
}

.map_box_contact_form .map iframe {
    width: 580px;
    height: 450px;
    border-radius: 7px;
    margin: 0px 10px;
    border: none;
}

.map_box_contact_form .contact_form {
    padding: 0px 30px;
}

.map_box_contact_form .contact_form div {
    padding: 15px 0px;
}

.map_box_contact_form .contact_form input,
.map_box_contact_form .contact_form textarea {
    width: 590px;
    padding: 15px 10px;
    border-radius: 5px;
    border: solid 1px gray;
}

.map_box_contact_form .contact_form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.map_box_contact_form .contact_form input[type="submit"]:hover {
    background-color: rgb(12, 123, 84);
}



/* Login Section */
.login_box_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.login_box_form .login_form {
    border: solid 1px rgb(205, 202, 202);
    width: 500px;
    height: 400px;
    margin: 0px 20px;
    padding: 20px 30px;
    border-radius: 5px;
}

.login_box_form .login_form label {
    display: block;
    padding-top: 20px;
    padding-bottom: 7px;
    font-weight: bold;
}

.login_box_form .login_form input {
    width: 100%;
    height: 47px;
    padding: 0px 10px;
    border-radius: 4px;
    border: solid 1px rgb(179, 178, 178);
}

.login_box_form .login_form input:focus {
    outline: none;
}

.login_box_form .login_img img {
    width: 500px;
    height: 400px;
    margin: 0px 20px;
    border-radius: 5px;
}

.forget a {
    float: right;
    margin: 10px 0px;
    text-decoration: none;
    color: rgb(82, 81, 81);
}

.login_create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
}

.login_create a {
    text-decoration: none;
    color: rgb(82, 81, 81);
}

/* Register Section */
.register_box_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.register_box_form .register_form {
    border: solid 1px rgb(205, 202, 202);
    width: 500px;
    height: 460px;
    margin: 0px 20px;
    padding: 20px 30px;
    border-radius: 5px;
}

.register_box_form .register_form label {
    display: block;
    padding-top: 20px;
    padding-bottom: 7px;
    font-weight: bold;
}

.register_box_form .register_form input {
    width: 100%;
    height: 47px;
    padding: 0px 10px;
    border-radius: 4px;
    border: solid 1px rgb(179, 178, 178);
}

.register_box_form .register_form input:focus {
    outline: none;
}

.register_box_form .register_img img {
    width: 500px;
    height: 460px;
    margin: 0px 20px;
    border-radius: 5px;
}

.forget a {
    float: right;
    margin: 10px 0px;
    text-decoration: none;
    color: rgb(82, 81, 81);
}

.register_create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding-bottom: 0px;
}

.register_create a {
    text-decoration: none;
    color: rgb(82, 81, 81);
}





/* end */

/* fav */
.fav_page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 40vh;
    padding: 0px 100px;
  }
  
  
  .fav_content {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fav_table {
    width: 100%;
    max-width: 1400px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .fav_table th, 
  .fav_table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .fav_table th {
    background-color: #024c3b;
    color: white;
  }
  
  .fav_table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .fav_table tr:hover {
    background-color: #f1f1f1;
  }
  
/* Cart Page */

  .cart_page {
    padding: 40px 100px;
    display: flex;
    justify-content: center;
  }

  .cart_content {
    width: 100%;
    max-width: 1450px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    padding: 20px;
  }
  

  .cart_table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .cart_table thead {
    background-color: #024c3b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .cart_table th,
  .cart_table td {
    padding: 15px;
    border: 1px solid #ddd;
  }
  
  .cart_table td img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .cart_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .cart_table tbody tr:hover {
    background-color: #e8f5e9;
  }


  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  

  .btn {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkout-btn {
    background-color: #146e59;
    color: #fff;
  }
  
  .checkout-btn:hover {
    background-color: rgb(46, 45, 45);
  }
  
  .shop-btn {
    background-color: orange;
    color: #fff;
  }
  
  .shop-btn:hover {
    background-color:rgb(28, 28, 28);
  }
  








/* footer */
.footer {
    background-color: #1d1d1e; 
    color: #ecf0f1; 
    padding: 40px 0px;
    font-family: Arial, sans-serif;
}

.footer_sections {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
    max-width: 1350px;
    margin: 0 auto; 
}

.footer_box {
    flex: 1 1 200px; 
    padding: 20px;
    box-sizing: border-box;
}

.footer_box h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
}

.footer_box ul {
    list-style: none;
    padding: 0;
}

.footer_box ul li {
    margin-bottom: 10px;
}

.footer_box ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 15px;
}

.footer_box ul li a:hover {
    color: var(); 
}

.footer_box p {
    margin-bottom: 10px;
    font-size: 15px;
}


/* Blog Sections */
.blog_sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.blog_sections .blogs_boxs {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 0px 20px;
    text-align: center;
}

.blog_sections .blogs_boxs img {
    width: 230px;
    height: 200px;
    border-radius: 7px;
}

.blog_sections .blogs_boxs img:hover {
    transform: rotate(45deg);
}

.blog_sections .blogs_boxs h4,
.blog_sections .blogs_boxs h3 {
    color: var(--gray-color);
    padding: 10px 0px;
}


/* Four Box Sections */
.four_box_sections {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 60px 100px;
    gap: 0px; 
}
.bottom_box_four h1 span
{
    color: var(--primary-color);
}

.bottom_box_fourBack_img {
    background-image: url('images/botsnew.jpg');
    height: 63vh;
    width: 25%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 70px 50px;
}


.items_box {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 20px 0px; 
    border-radius: 5px;
    margin: 15px 0px;
    width: 100%;
}
.items_box .images img {
    width: 100px;
    height: 80px;
    padding: 0px 0px;
}






